img{
<<<<<<< HEAD
  margin-top: 32px;
  width:30%;
  display:block;
  margin: 0 auto;
=======
  width:50%;
>>>>>>> d1bce3bedf3f2d73e200a63fdebddb963bad0e9b
}


h1{
  text-align: center;
  font-family: Shrikhand;
  color: RGB(19, 49, 214);
  font-size: 50px;
}
<<<<<<< HEAD


p{
  margin:0;
  text-align: center;
  font-size: 20px;
}
=======
>>>>>>> d1bce3bedf3f2d73e200a63fdebddb963bad0e9b
